<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noe Jahir Sanchez Sanchez</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="dHeader">
            <header class="dHeader__header flex-container border">
                <h1 class="dHeader__h1">Titulo de la pagina</h1>
                <nav class="dHeader__nav border">
                    <ul class="dHeader__ul flex-container">
                        <li class="dHeader__li border"><a href="#sectOne">Principal</a></li>
                        <li class="dHeader__li border"><a href="#sectTwo">Proyectos</a></li>
                        <li class="dHeader__li border"><a href="#sectThree">Contacto</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="dMain border">
            <main class="dMain__main ">
                <section class="dMain__sect flex-container border" id="sectOne">
                    <article class="dMain__art border">
                        <h2>Sistema de Validacion de Nómina (SVN)</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolore at possimus sunt itaque perspiciatis inventore impedit aliquid. Consequatur tenetur minus rem rerum ad pariatur aperiam omnis sunt maxime soluta alias illo facere maiores amet repudiandae, id quae quos dolores, error reprehenderit temporibus debitis. Aspernatur dolorum corporis in culpa porro vitae aperiam repudiandae placeat, eligendi consequuntur debitis necessitatibus pariatur molestias incidunt. Officiis voluptatum illum quisquam quod vitae reprehenderit nostrum asperiores architecto esse in rerum natus corrupti blanditiis sint dignissimos soluta dolores ad beatae, atque iure modi error alias quidem! Consequatur libero tempora sapiente iure, possimus fuga eligendi ducimus doloribus rem.</p>
                        <div class="dMain__gallery flex-container">
                            <div class="dMain__gallery-in">

                            </div>
                        </div>
                    </article>
                    <article class="dMain__art border">
                        <h2>Sistema de Validacion de Nómina (SVN)</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolore at possimus sunt itaque perspiciatis inventore impedit aliquid. Consequatur tenetur minus rem rerum ad pariatur aperiam omnis sunt maxime soluta alias illo facere maiores amet repudiandae, id quae quos dolores, error reprehenderit temporibus debitis. Aspernatur dolorum corporis in culpa porro vitae aperiam repudiandae placeat, eligendi consequuntur debitis necessitatibus pariatur molestias incidunt. Officiis voluptatum illum quisquam quod vitae reprehenderit nostrum asperiores architecto esse in rerum natus corrupti blanditiis sint dignissimos soluta dolores ad beatae, atque iure modi error alias quidem! Consequatur libero tempora sapiente iure, possimus fuga eligendi ducimus doloribus rem.</p>
                        <div class="dMain__gallery flex-container">
                            <div class="dMain__gallery-in">

                            </div>
                        </div>
                    </article>
                </section>
                <section class="dMain__sect flex-container border" id="sectTwo">
                    
                </section>
                <section class="dMain__sect flex-container border" id="sectThree">
                    
                </section>
            </main>
        </div>
        <div class="dAside border">
            <aside class="dAside__aside">
                <article class="dAside__art border">
                    <section class="dAside__sec">
                        <h3>Noe Jahir Sanchez Sanchez</h3>
                        <h4>Ingeniero en Sistemas Computacionales</h4>
                        <div class="dAside__foto">
                            <img class="dAside__img  border" src="../assets/img/jahir.jpg" alt="Noe Sanchez Foto">
                        </div>
                    </section>
                </article>
                <article class="border">
                    <section>
                        <h3>Información</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci illo dicta dolore dignissimos distinctio itaque aut. Placeat repellat maxime quibusdam laborum sequi dolore dignissimos quo, corporis error suscipit quis animi magnam inventore sapiente atque ad optio eum rem laboriosam officia sed aut. Laborum obcaecati enim assumenda possimus. Possimus, tempora unde!</p>
                    </section>
                </article>
            </aside>
        </div>
        <div class="dFooter border flex-container">
            <footer class="dFooter_footer">
                <h3> Pagina hecha con HTML y CSS para uso personal. Si tiene alguna sugerencia para mejorar esta pagina, por favor ir a la parte de contacto y dejarme un mensaje. Gracias!!</h3>
            </footer>
        </div>
    </div>
    
    
</body>
</html>