<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Ingeniero en Sistemas,Personal WEB,Noe Sanchez, Jahir Sanchez, Desarrollador, Programador, IT">
    <meta name="description" content="Pagina WEB personal de Noe Jahir Sanchez Sanchez, Ing. en Sistemas y desarrollador independiente">
    <meta class="author" content="Noe Sanchez">
    <title>Main Page</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/218cea0fd6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="../assets/lightbox2-2.11.3/src/css/lightbox.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container"> <!--Container Block START-->
        
        <header class="header"><!-- Header START-->
            <h1 class="header__h1">MyPersonalWeb</h1>
            <nav class="header__nav"> <!--NAV HEADER Block START-->
                <input type="checkbox" name="cbx-menu" id="cbx-menu">
                <label for="cbx-menu" class="cbx-label"><i class="fas fa-bars"></i></label>    
                <ul class="header__ul flex-container brd-rd5">                              
                    <li><a href="#sect-home">Home</a></li>
                    <li><a href="#sect-about">About</a></li>
                    <li><a href="#sect-contact">Contact</a></li>
                    <li><a href="#sect-qaa">Q&A</a></li>
                </ul>
            </nav><!--HEADER NAV Block END-->
        </header><!-- Header END-->
        
        <main class="main"><!--MAIN START-->            
            <div class="separador"></div>
            <section class="main__section" id="sect-home">
                <h2 class="title-shw">Experiencia</h2>
                <article class="main__article">
                    <h3>Desarrollo WEB - Aplicación 'Sistema de Validacion de Nomina(SVN)'</h3>
                    <p>
                        Durante el desarrollo de esta aplicación fui el responsable de su planeción,
                        desarrollo, implementación y seguimiento durante las 480 horas requeridas en mis practicas profesionales.
                        Pueden visitar la applicacion en el siguiente enlace <a href="www.oic.gob.mx/svn"></a>
                    </p>
                    
                </article>
                <article class="main__article">
                    <h3>Especialista en Tecnologias de la Información</h3>
                    <p>
                        Durante el desarrollo de esta aplicación fui el responsable de su planeción,
                        desarrollo, implementación y seguimiento durante las 480 horas requeridas en mis practicas profesionales.
                        Pueden visitar la applicacion en el siguiente enlace <a href="www.oic.gob.mx/svn"></a>
                    </p>
                </article>                
            </section>
        
            <section class="main__section" id="sect-about">
                <h2 class="title-shw">About</h2>
                <article>
                    <h3>Desarrollo WEB - Aplicación 'Sistema de Validacion de Nomina(SVN)'</h3>
                    <p>
                        Durante el desarrollo de esta aplicación fui el responsable de su planeción,
                        desarrollo, implementación y seguimiento durante las 480 horas requeridas en mis practicas profesionales.
                        Pueden visitar la applicacion en el siguiente enlace <a href="www.oic.gob.mx/svn"></a>
                    </p>
                </article>
            </section>
        
            <section class="main__section" id="sect-contact">
                <h2 class="title-shw">Contact</h2>
                <article>
                    <h3>Desarrollo WEB - Aplicación 'Sistema de Validacion de Nomina(SVN)'</h3>
                    <p>
                        Durante el desarrollo de esta aplicación fui el responsable de su planeción,
                        desarrollo, implementación y seguimiento durante las 480 horas requeridas en mis practicas profesionales.
                        Pueden visitar la applicacion en el siguiente enlace <a href="www.oic.gob.mx/svn"></a>
                    </p>
                </article>
            </section>
        
            <section class="main__section" id="sect-qaa">
                <h2 class="title-shw">Q&A</h2>
                <article>
                    <h3>Desarrollo WEB - Aplicación 'Sistema de Validacion de Nomina(SVN)'</h3>
                    <p>
                        Durante el desarrollo de esta aplicación fui el responsable de su planeción,
                        desarrollo, implementación y seguimiento durante las 480 horas requeridas en mis practicas profesionales.
                        Pueden visitar la applicacion en el siguiente enlace <a href="www.oic.gob.mx/svn"></a>
                    </p>
                </article>
            </section>
        </main><!--MAIN END-->
        <aside class="aside"><!--ASIDE START-->
            <section class="aside__secction brd-17">
                <article class="aside__artc">
                    <h3 class="txt-sdw1">Noe Jahir Sanchez Sanchez</h3>
                    <img class="aside__img" src="../assets/img/jahir.jpg" alt="Foto Noe Jahir">
                    <h4>Ingeniero en Sistemas Computacionales</h4>
                    <p>Actualmente busco desempeñarme como Desarrollador en una empresa que me permita seguir desarrollando nuevas habilidades y poder contribuir activamente al equipo de desarrollo</p>

                </article>
            </section>
            <section class="aside__secction aside__secction2 brd-17">
                <article class="aside__artc">                    
                    <p class="aside__uni"> <a href="#">Instituto Tecnologico de Iztapalapa</a></p>
                    <p><b>Tecnologico Nacional de Mexico </b></p>
                    <img class="aside__logo" src="../assets/img/tecnm.png" alt="Logo del Tecnologico">
                    <div class="asside__text">
                        <p><b>Edad:</b>29 años</p>
                        <p><b>Nacionalidad:</b>Méxicano</p>
                        <p><b>E-mail:</b>noejsanhcez@outlook.com</p>
                    </div>
                    
                </article>
            </section>
        </aside><!--ASIDE END-->
        <footer class="footer"><!--FOOTER START-->
            <h3>Pagina hecha con HTML, CSS y JavaScript. Si tienes alguna sugerencia por favor ve al apartado de contacto, te lo agradecere mucho!</h3>
        </footer><!--FOOTER END-->
    
    </div> <!--Container Block END-->
    
    <script src="../assets/lightbox2-2.11.3/dist/js/lightbox-plus-jquery.js"></script>
</body>
</html>