* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;    
    
}

body{
    background-image: url("../img/nigth.jpg");    
    color:  #AAF;
}

.container{
    display: flex;
    flex-direction: column;            
    text-align: center; 
}
.flex-container{
    display: flex;
    flex-wrap: wrap;    
    
}
.dHeader{
    margin-top: 5px;
    background-color: rgba(25 , 32 , 42 , .6);
    
}
.dHeader__header{
    background-color: rgba(25 , 32 , 42 , .9);
    align-items: center; 
    justify-content: center;   
    flex-wrap: wrap;
    height: 100%;
    
}
.dHeader__h1{
    flex-grow: 4;
}
.dHeader__nav{    
    background-color: rgba(240 , 248 , 255 , .6);
    
}
.dHeader__li{
    text-align: center;
    list-style: none;
    width: 80px;
    padding: 12px;
    
}

.dMain{
    overflow: inherit;
    
    background-color: rgba(25 , 32 , 42 , .8);
    
}
.dMain__main{
    height: 100%;
}

.dMain__art{
    padding: 20px;
    height: 100%;
    
    
}
.dMain__sect{
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.dMain__gallery{
    align-items: center;
    justify-content: center;
    
    
   
}
.dMain__gallery-in{
    height: 200px;
    width: 300px;
    background-color: rgba(240 , 248 , 255 , .6);;
}

.dMain__form{
    padding: 100px;
   
}
.dAside{
    
}
.dAside__art{
    
}
.dAside__foto{
    
}
.dAside__sec{
    align-items: center;
    justify-items: center;
}
.dAside__img{
    max-width: 150px;
}

.border{
    border: 1px solid #FFF;    
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.dHeader__li:hover{
    background-color: rgba(25 , 32 , 42 , .6);    
    
}


.dFooter{
    background-color: rgba(25 , 32 , 42 , .9);
    align-items: center;
    
}



@media only screen and (min-width:999px){
    *{
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .container{
        
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: repeat( 5 , 1fr );
        grid-template-rows: 100px repeat(2 , 1fr) 100px;
    }
    .flex-container{
        flex-wrap: nowrap;
    }

    .dHeader{
        
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }
    .dMain{
        grid-column: 1 / 5;
        grid-row: 2 / 4;
    }
    .dAside{
        grid-column: 5 / 6;
        grid-row: 2 / 4;
    }
    .dFooter{
        grid-column: 1 / 6;
        grid-row: 4 / 5;
    }

    .dAside__img{
        max-width: 250px;
    }

    .dHeader__li{
        width: 100px;
    }
    .dMain__gallery{

        width: 100%;
        
    }
    .dMain__gallery-in{
        width: 90%;
        height: 400px;
        
    }
    .dMain__art{
        justify-content: center;
        align-items: center;
    }
}