
:root{
    --bg-bd: rgba(0, 0, 254 , 1); /*BACKGROUND BODY*/
    --bg-hd:rgba(8,3,87,1);; /*BACKGROUND HEADER*/
    --bg-ma:rgba(38,59,145,1); /*BACKGROUND MAIN & ASIDE*/
    --ft-co:rgb(185, 185, 185); /*FONT COLOR BODY*/
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
    
}

body{
    background-color: var(--bg-bd);
    color: var(--ft-co);
}
.container{
    width: 100%;
    height: 100%;
    
}
.header{
    background-color: var(--bg-hd);
    background: var(--bg-hd);
    background: radial-gradient(circle, rgba(8,3,87,1) 0%, rgba(15,54,219,1) 61%, rgba(6,31,128,1) 93%); 
}
.header__h1{
    margin-left: 40px;
    color: #444444;
    
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.header__li a{
    color:var(--ft-co);
    font-size: 2rem;
    
}
.header__ul{
    background-color:var(--bg-hd) ;    
    
}
.main , .aside{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.main{
    text-align: center;
}
.main__section{}
.main__art{}

.aside{
    text-align: center;
}
.aside__section{}
.aside__art{}

.footer{}
.footer h2{
    text-align: center;
}
@media only screen and (max-width:556px){
    
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .header{
        display: block;
        width: 100%;
        position: fixed;
        
    }
    .header__h1{
        display: inline-block;
        margin-left: 20px;
        margin-top: 5px;
    }
    .header__nav{        
        position: fixed;       
        width:100vw;
        height: 100vh;
        text-align:-moz-right;
        text-align:-webkit-right;
        left:100%;        
        
    }
    .header__ul{
        width:50%;
        height: 50%;
        /*FLEX FEACTURES*/
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        
    }
    .main{
        
    }
    .main__sep{
        height:50px;
        width: 100%;
    }
    .main__section{
        scroll-margin-top: 60px;
        margin: 20px 0 20px 0;
        
        
    }
    .main__art{}

    .aside{}
    .aside__section{}
    .aside__art{}

    .footer{
        text-align: center;
    }



    /*RESPONSIVE MENU ICON*/
    .icon-bar{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 30px;
        height: 30px;
        float:right;
        margin: 10px 20px;
    }
    .bar{
        background-color: #FFF;
        width: 25px;
        height: 3px;
    }
}
/* MID RESOLUTION FOR TABLETS AND IPAD*/
@media only screen and (min-width:566px) and (max-width:1024px) {
    .container{
        display: grid;
        grid-template-columns:repeat(4 , minmax(3rem , 1fr)) 250px ;
        grid-template-rows: 100px repeat(3, minmax( 5rem , 1fr)) 100px;
        height: 100vh;
        width: 100vw;
    }
    /*HEADER*/
    .header{
        grid-column: 1 / 6;
        grid-row: 1 / 2;

        /*FLEX FEACTURES*/
        display: flex;
        align-items: center;
        
    }
    .header__h1{
        font-size: 3rem;
        max-width: 50%;
        flex-grow: 2;
    }
    .header__nav{
        width: 50%;
    }
    .header__ul{
        background-color: rgba(0, 0, 254 , 0);
        display: flex;
        width:100%;
        justify-content: space-evenly;        
    }
    /*MAIN*/
    .main{
        grid-column: 1 / 5;
        grid-row: 2 / 5;
                    
    }
    /*ASIDE*/
    .aside{
        grid-column: 5 / 6;
        grid-row: 2 / 5;
    }
    .aside__section{
        width: 100%;
    }
    /*FOOTER*/
    .footer{
        grid-column: 1 / 6;
        grid-row: 5 / 6;
    }
}
